*.exe
*.exe~
*.dll
*.so
*.dylib
*old/
*.sql

/bin/
/build/
*.out

/vendor/

*.swp
*.swo
.DS_Store
Thumbs.db

.idea/
.vscode/

*.env
config.yaml
secret.json


*.test
*.coverprofile
*.coverage

*.log

*secrets/
